:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan : hsl(169, 62%, 75%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Darkgrayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

footer{
    background-color: var(--Dark-moderate-cyan);
    text-align: center;
    padding-block: 3.5rem;
}

footer > img {
    min-width: 12%;
    padding-block-end: 3rem;
}

.list-footer{
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    gap: 3.5rem;
    padding-block-end: 5rem;
    cursor: pointer;
}

.list-footer > li:hover{
    color: var(--White);
}

.list-footer > li {
    color: var(--Dark-desaturated-cyan);
    font-size: 18px;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}